*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mainheader{
    background-color: #3269b2;
    padding: 50px 0 1px 140px; 
}

h1{ 
    font-size: 64px;
    text-transform: uppercase; 
    color: #fdc70c;   
}
    
h2{
    padding:20px 0 20px 0 ;
    margin: 0;
    font-size: 36px;
    color: black;
 }
  
 .menu{
     background-color: #fdc70c;
     padding: 1px 0 1px 100px; 
}

nav > ul >li {
    display: inline-block; 
}

nav > ul > li >a{
    text-decoration: none;
    font-size: 24px;
    padding: 4px;
    color: #ffffff;
}

nav > ul > li > a:hover{
    color: #f6a12f;
    text-decoration: underline;
    font-weight: bold;
}

.logo{
   padding: 10px 0 0 100px;
}

.boitebleu{
    background-color: #3269b2;
    padding:  0 10px 25px 15px;
    margin: 30px 0 10px 140px;
    float: left;
    width: 50%;
}

h3{
    font-size: 36px; 
    margin: 0;
    padding: 15px 0 0 0;
    text-transform: uppercase; 
 }

 h4{
    font-size: 24px;
    float: right;
    padding: 50px 340px 0 0;
    margin: 0 0 5px 0;
}

h5{
    padding: 0px 80px 0 0;
    font-size: 18px; 
    margin: 0;
}

h6{
    padding: 15px 0 0 20px;
    font-size: 18px; 
    margin: 0px 3px;
}

.jrr{
    padding: 10px 0 0 0 ;
    font-size: 14px;
    font-style: italic;
}

p{
    font-size: 12px;
}

.restearticle{
    text-align: right;
    padding: 0 50px 0 0;
    font-weight: bold;
    text-decoration: underline;
}

aside{
    margin: 1% 0 0 1%;
    background-color:#fdc70c;
    float: left;
    width: 20%; 
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px 63px 0;
}

ul > li{
    display: inline;    
}

ul > li >a{
    color: black;
    text-decoration: none;   
} 

.boite1{
    width: 16%;
    float: left;
    clear: both;
    margin: 25px 0 80px 140px ;
}

.boite2{
    background-color:#3269b2;
    width: 34%;
    float: left;
   margin: 25px 0 0px 0px ;
   padding: 0 6px 10px 20px;
}

.boite3{
    width: 17%;
    float: left;
    margin: 25px 0 0 70px ;
}

footer > p{
    font-size: 17px;
    clear :both;
    text-align: center;
    background-color: #fdc70c;
    padding: 45px;
}

.nom{
    float: left;
}
 
.element{ 
   float: left;
   padding: 31px 0 0 10px;
}

.clearfloat{
   clear: both;
}

.imagepokemon{
    float: left; 
    width: 17%;
    padding: 7% 0 2% 8%;
}

.stats{
    background-color: #3269b2;
    float: left;
    width: 48%;
    padding: 0 2% 2% 3%;
    margin: 3% 0 2% 0 ;
}
